

.header {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0;
  background-color: rgb(255, 255, 255);
  border:none;
  z-index: 1;
}

.leftSelection {
  display: flex;
  align-items: center;
}

.hamburgerMenu {
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
}

.youtubeLogo {
  height: 20px;
  object-position: center;
  margin-top: 5px;
}

.middleSelection {
  display: flex;
  flex: 1;
  align-items: center;
  margin-left: 30px;
  margin-right: 60px;
  max-width: 700px;
}

.searchBar {
  display: flex;
  flex: 1;
  height: 37px;
  font-size: 16px;
  border: 1px solid rgb(210, 210, 210);
  padding-left: 18px;
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  border-radius: 50px;
  position: relative;
  right: -58px;
}

.searchIcon {
  height: 24px;
  
}

.searchBar::placeholder {
  font-family: Roboto, Arial;
  font-size: 16px;
  z-index: 2;
}

.searchButton {
  height: 41px;
  width: 67px;
  border: 1px solid rgb(220, 220, 220);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: rgb(245, 245, 245);
  margin-left: -1px;
  z-index: 2
}

.voiceSearchButton {
  height: 40px;
  width: 40px;
  margin-left: 14px;
  border: none;
  border-radius: 25px;
  background-color: rgb(245, 245, 245);
}

.voiceIcon {
  height: 25px;
  padding-top: 4px;
  border-radius: 12px;
  object-fit: cover;
  object-position: bottom;
}

.rightSelection {
  display: flex;
  align-items: center;
}
.uploadIcon{
  height: 24px;
  margin-right: 24px;

}

.notificationIcon {
  height: 24px;
  margin-right: 17px;
}


.currentUserPicture {
  height: 32px;
  width: 32px;
  margin-right: 28px;
  margin-top: 8px;
  border-radius: 18px;

  
}


@media (max-width: 980px) {
  .middleSelection {
      display: none;
     
  }

  .header {
      justify-content: space-between;
      padding-top: 18px;
      padding-bottom: 10px;
      margin-top: -10px;
      height: 20px;
  }

  .hamburgerMenu {
      display: none;
  }

  .youtubeLogo {
      height: 15px;
      width: 100%;
     margin-left: 5px;
  }

  .rightSelection {
      margin-right: -20px;
  }

  .uploadIcon{
    height: 12px;
    margin-right: 16px;
  
  }
  
  .notificationIcon {
    height: 12px;
    margin-right: 6px;
    margin-top: -4px;
  }

  
  .currentUserPicture {
      padding-right: 5px;
      height: 20px;
      width: 20px;
  }
  



}
